.info-block {
  background:linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/Rectangle.png') no-repeat center/ cover;
  
  
  

  &__text {
    font-weight: 300;
    font-size: 48px;
    color: #ffffff;
    // margin-top: 22px;
    // margin-bottom: 28px;
  }
}


.title{
  font-weight: bold;
  font-size: 48px;
  color: #ffffff;
  padding: 35px 0 22px 0;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.contacts {
  height: 376px;
  background: #23374F;
  margin: 0;
  padding: 0;

  &__content {
    text-align: center;
    padding: 35 0px;
    box-sizing: border-box;
    color: #FFFFFF;
  }

  &__link {
    color: #ffffff;
    font-size: 48px;
    padding-top: 21px;
    margin-bottom: 33px;
  }  
}

